.rootPane{
    -fx-background-color: #CBF1F5;
}
.bigPane{
     -fx-background-color: linear-gradient(to bottom right, #73A9AD, #90C8AC);
}
.JFXbutton{
    -fx-text-fill:   black;
}
.button1{
    -fx-background-color:   #dff6ff;
    -fx-text-fill:   black;
}


