.rootPane{
    -fx-background-color: #CBF1F5;
    -fx-background-radius: 15;
}
.rightPane{
     -fx-background-color: linear-gradient(to bottom right, #73A9AD, #90C8AC);
     -fx-background-radius: 15;
  }
.leftPane{
    -fx-background-color: #dff6ff;
    -fx-background-radius: 15;
}
.textfield1{
    -fx-prompt-text-fill: #434343;
    -fx-background-color: #CBF1F5;
    -fx-text-fill: black;

}
.textfield2{
    -fx-background-color: #CBF1F5;
    -fx-text-fill: black;
}
.button1{
    -fx-background-color: #CBF1F5;
    -fx-text-fill: black;
}
.button1:hover{
    -fx-text-fill: #71C9CE;
}
.label{
    -fx-text-fill: black;
}
.list-view {
    -fx-background-color: #E3FDFD;
}
.list-view .list-cell:hover {
    -fx-background-color: #71C9CE;
}
.list-view .list-cell:selected {
    -fx-background-color: #71C9CE;
}
.list-view .list-cell {
    -fx-background-color: #E3FDFD;
    -fx-text-fill: black;
    -fx-font-size: 14.0;
    -fx-font-weight: bold;
}
.list-view .label {
    -fx-text-fill: black;
}
.jfx-rippler {
    -jfx-rippler-fill: red;
}
.scroll-bar:vertical .track,
.scroll-bar:horizontal .track{
    -fx-background-color :#E3FDFD;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}
 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}
 .scroll-bar:horizontal .increment-arrow,
 .scroll-bar:horizontal .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-bar:horizontal .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-bar:horizontal .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.scroll-bar:horizontal .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
